# Maven
target/
!.mvn/wrapper/maven-wrapper.jar
.mvn/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties
dependency-reduced-pom.xml
buildNumber.properties
.mvn/timing.properties

# IntelliJ IDEA
.idea/
*.iml
*.iws
out/

# Eclipse
.project
.classpath
.settings/
bin/

# NetBeans
nbproject/private/
build/
nbbuild/
dist/
nbdist/
.nb-gradle/

# VS Code
.vscode/

# OS-specific files
.DS_Store
Thumbs.db

# Logs
logs/
*.log

# Spring Boot embedded DB files
*.h2.db
*.mv.db
*.trace.db

# Environment files
.env
*.env

# Temporary files
tmp/
*.tmp
*.bak
*.swp

# Crash reports
hs_err_pid*
rebel.xml

# Mac/Linux system files
*.orig
